<div class="content-wrapper">
    <section class="content" style="padding-top: 10px;">
        <div class="container-fluid">
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-bar"></i> Administración de reportes
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" title="Regresar a inicio" [routerLink]="['/home']"><i class="fas fa-home" ></i> </button>
                                <button type="button" class="btn btn-tool" title="Agregar sensor" (click)="crearReporte()"><i class="fas fa-plus" ></i> </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>